{% extends "shop/base.html" %}
{% load i18n %}

{% block title %}{% trans "Pay using PayPal" %}{% endblock %}

{% block content %}
<tr>
    <td class="actions" data-th="">
        <a
          href="{% url 'cart:cart_remove' product.id %}"
          class="btn btn-danger btn-sm"
          ><i class="fa fa-trash-o"></i
        ></a>
      </td>
      <td class="actions" data-th="">
        <a
          href="{% url 'payment:cart_remove' product.id %}"
          class="btn btn-danger btn-sm"
          ><i class="fa fa-trash-o"></i
        ></a>
      </td>
</tr>
{% endblock %}